<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444424039160-lpu80bod93i73t9sn4ep3uchbr335gag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444424039160-lpu80bod93i73t9sn4ep3uchbr335gag</string>
	<key>API_KEY</key>
	<string>AIzaSyDiQgkOjrzucgRYbvaXl1oqaCBzk7mWDJY</string>
	<key>GCM_SENDER_ID</key>
	<string>444424039160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auth0.flutterdemo</string>
	<key>PROJECT_ID</key>
	<string>dentaldecision</string>
	<key>STORAGE_BUCKET</key>
	<string>dentaldecision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444424039160:ios:e103fe16343d469cb1290d</string>
</dict>
</plist>